<html>
    <body>
        <h1>Details</h1>
         <h3>Total Number of Students : {{total_students}}</h3>
         <h3>Total number of Students with Grade A : {{Grade_A_students}}</h3>
         <h3>Total number of Students with Grade B : {{Grade_B_students}}</h3>
         <h3>Total number of Students with Grade C : {{Grade_C_students}}</h3>
         <h3>Total number of Students with Grade D : {{Grade_D_students}}</h3>
         <h3>Total number of Students with Grade E : {{Grade_E_students}}</h3>
         <h3>Total number of Students with Grade F : {{Grade_F_students}}</h3>
         <h3>Total No of Students in Distinction (%) : {{distinction_students}}</h3>
         <h3>Total No of Students in First Class (%) : {{firstclass_students}}</h3>
         <h3>Total No of Students Pass Percentage (%) : {{pass_percentage}}</h3>
    </body>
</html>